<div class="block">
    <div class="block__content">
        <div class="title">
            Мы берем на себя
            <span class="primary-text-color">
                полную материальную ответственность
            </span>
            и прописываем гарантии
        </div>

        <div class="grid-panel">
            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    <div class="text__title">вы уверены в сроках</div>
                    <div class="description">
                        Несем ответственность за соблюдение сроков. В случае
                        срыва - компенсируем убытки
                    </div>
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    <div class="text__title">исправляем за свой счет</div>
                    <div class="description">
                        Любое несоответствие по согласованным параметрам и
                        наличие дефектов
                    </div>
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    <div class="text__title">
                        Качество, подтвержденное годами
                    </div>
                    <div class="description">
                        Несем ответственность за соблюдение сроков. В случае
                        срыва - компенсируем убытки
                    </div>
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    <div class="text__title">
                        Фиксированная цена без скрытых платежей
                    </div>
                    <div class="description">
                        Стоимость не меняется и фиксируется в договоре
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
