@import "../../../../assets/styles/global.less";
@import "../../../../assets/fonts/MuseoSansCyrl/MuseoSansCyrl.less";

:host {
    display: flex;
    min-height: 938px;
}

.container {
    display: flex;
    height: inherit;

    &__header {
        display: flex;

        &--left {
            padding: 32px 72px 20px 80px;
            border-right: 1px solid #404244;
        }

        &--left > .title {
            font-family: "BerlingskeSerif";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */

            text-transform: uppercase;
        }

        &--right {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 32px 72px 20px 80px;
            background: linear-gradient(
                90deg,
                #181d21 0%,
                rgba(24, 29, 33, 0) 100%
            );
        }

        &--right > .title {
            font-family: "MuseoSansCyrl-300";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            /* or 137% */

            text-align: justify;

            color: #ffffff;
        }
    }
}

.logo {
    margin-bottom: 8px;
}

.title-logo {
    font-family: Berlingske Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;

    color: #fffffe;
}

.address {
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        color: #ecb85a;
        width: 24px;
        height: 24px;
        max-height: 24px;
        max-width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(252, 217, 119, 0.13);
        margin-right: 8px;
    }

    &__description {
        font-size: 16px;
        font-family: @project-font-primary-regular;
        color: @project-color-primary;
    }
}

.mobile {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.055em;
    margin-bottom: 12px;
    text-decoration: none;
    cursor: pointer;
    font-family: "BerlingskeSerif-SemiBold";
    color: @project-color-default-text;
}

.left-column {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    border-right: 1px solid #404244;
}

.right-column {
    background: linear-gradient(90deg, #181d21 0%, rgba(24, 29, 33, 0) 100%);
    width: 100%;
}

.icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecb85a;
}

.underline-gradient {
    background: linear-gradient(270deg, #404244 0%, rgba(64, 66, 68, 0) 100%);
    height: 1px;
}

.underline-gradient-left {
    background: linear-gradient(
        90deg,
        #404244 77.65%,
        rgba(64, 66, 68, 0) 101.42%
    );
    height: 1px;
}

.first-block {
    padding: 32px 72px 20px 80px;
    height: 115px;
    box-sizing: border-box;
    min-height: 115px;
}

.menu-container {
    padding: 16px 0 16px 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 56px;
}

.flex {
    display: flex;
}

.header-panel {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    height: 115px;
    box-sizing: border-box;

    &__left {
        max-width: 210px;
        font-family: "MuseoSansCyrl-300";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        /* or 137% */

        text-align: justify;
    }
}

.link {
    color: inherit;
    text-decoration: none;
}

.menu-panel {
    padding: 16px 0 16px 35px;
    height: 56px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}

.menu-item {
    font-family: "MuseoSansCyrl-900";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #fffffe;
}

.menu-item:not(:first-child) {
    margin-left: 70px;
}
