<div class="container">
    <div class="left-column">
        <div class="first-block">
            <a (click)="menuClick($event.currentTarget)">
                <app-company-logo class="logo"></app-company-logo>
            </a>
            <div class="title-logo">Мебель у нас</div>
        </div>

        <div class="second-block">
            <div class="underline-gradient"></div>

            <div class="flex menu-container">
                <app-icon name="iconLeftMenuBurger" class="icon"></app-icon>
                <div>Меню</div>
            </div>

            <div class="underline-gradient"></div>
        </div>

        <obbey-sidebar-menu></obbey-sidebar-menu>
    </div>

    <div class="right-column">
        <div class="header-panel">
            <div class="header-panel__left">
                <div class="title">
                    Фабрика №2 по ремонту и рестоврации в России
                </div>
                <div class="icon"></div>
            </div>

            <div class="header-panel__right">
                <a href="tel:+74957491493" class="mobile">
                    8 (495) 749 14 93
                </a>

                <div class="address">
                    <div class="address__icon">
                        <app-icon name="iconPinAddress"></app-icon>
                    </div>
                    <div class="address__description">по Москве и МО</div>
                </div>
            </div>
        </div>

        <div class="underline-gradient-left"></div>

        <div class="menu-panel">
            <a
                *ngFor="let menuItem of menuItems"
                class="menu-item"
                (click)="menuClick($event.currentTarget, menuItem.id)"
            >
                {{ menuItem.caption }}
            </a>
        </div>

        <div class="underline-gradient-left"></div>

        <ng-container *ngIf="component$ | async as component">
            <obbey-dynamic-header-preview
                [component]="component"
            ></obbey-dynamic-header-preview>
        </ng-container>
    </div>
</div>
