@media screen and (max-width: 768px) {
    app-web-header {
        display: none;
    }

    app-mobile-header {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    :host {
        display: flex;
        min-height: 938px;
    }

    app-web-header {
        display: block;
    }

    app-mobile-header {
        display: none;
    }
}
