<div class="frame">
    <div class="frame__description">
        <div class="title">
            Ваша любимая мебель как новая через 12 дней в обновлённом дизайне и
            превосходном качестве
        </div>
        <div class="subtitle-block">
            <div class="button-element">
                <obbey-button
                    size="m"
                    color="primary"
                    uppercase
                    (click)="openPopup()"
                >
                    Заказать дизайнера-технолога
                </obbey-button>
            </div>

            <div class="subtitle">
                Закажите бесплатный выезд дизайнера-технолога для выбора
                материала и точной оценки стоимости
            </div>
        </div>
    </div>

    <div class="frame__body">
        <div class="frame__image">
            <div class="image-content">
                <div class="f-icon">
                    <img src="../../../../assets/images/Frame.png" alt="" />
                </div>
                <img
                    src="../../../../../assets/images/padding-furniture/bench.png"
                    alt=""
                />
            </div>
        </div>

        <div class="second-image">
            <div class="image-content">
                <img
                    src="../../../../../assets/images/padding-furniture/poufs.png"
                    alt=""
                />
            </div>
        </div>

        <div class="block">
            <div class="block__content">
                <div class="block__title">Расчитаем стоимость по фото</div>

                <div class="block__description">
                    Отправьте нам фотографию вашей мебели удобным для вас
                    способом
                </div>

                <obbey-messagers></obbey-messagers>
            </div>
        </div>
    </div>

    <div class="frame__footer">
        <div class="element-list">
            <obbey-shield-item
                *ngFor="let element of elements"
                class="element"
                [description]="element.description"
            ></obbey-shield-item>
        </div>
    </div>
</div>
