<div class="frame">
    <div class="sidebar">
        <div class="sidebar__title">
            <div class="logo">OBBEY</div>
            <div class="subtitle">Мебель у нас</div>
        </div>
        <div class="underline"></div>

        <div class="sidebar__navigate">
            <div class="menu">
                <div class="menu__icon">
                    <svg
                        height="32px"
                        style="enable-background: new 0 0 32 32"
                        version="1.1"
                        viewBox="0 0 32 32"
                        width="32px"
                        xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                        <path
                            d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
                            fill="currentColor"
                        />
                    </svg>
                </div>
                <div class="menu__text">Меню</div>
            </div>
            <div class="underline"></div>

            <div class="menu-list">
                <a
                    *ngFor="let sidebarItem of sidebarItems; index as itemIndex"
                    class="menu-list__link"
                    [ngClass]="{ active: sidebarItem.active }"
                    (click)="toggleActive(itemIndex, sidebarItems)"
                >
                    <div
                        *ngIf="sidebarItem.active"
                        class="menu-list__link--item"
                    ></div>

                    {{ sidebarItem.name }}
                </a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="header">
            <div class="header__logo-content">
                <div class="header__description">
                    Фабрика №2 по ремонту и рестоврации в России
                </div>
                <div class="header__logo">
                    <img src="../../../assets/images/cup.png" alt="" />
                </div>
            </div>

            <div class="header__right">
                <a href="tel:+74957491493" class="phone">8 (495) 749 14 93</a>
                <div class="address-icon">
                    <div class="icon-pin">
                        <svg
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M8.97201 1.23097C8.17824 0.437204 7.12282 0 6.00033 0C4.87762 0 3.82242 0.437204 3.02866 1.23097C1.55969 2.69971 1.37714 5.46319 2.63331 7.1375L6.00033 12L9.36231 7.14429C10.6235 5.46319 10.441 2.69971 8.97201 1.23097ZM6.03912 5.6979C5.19342 5.6979 4.50507 5.00955 4.50507 4.16385C4.50507 3.31815 5.19342 2.6298 6.03912 2.6298C6.88482 2.6298 7.57317 3.31815 7.57317 4.16385C7.57317 5.00955 6.88482 5.6979 6.03912 5.6979Z"
                                fill="currentColor"
                            />
                        </svg>
                    </div>
                    <div class="address-description">по Москве и МО</div>
                </div>
            </div>
        </div>

        <div class="long-underline"></div>
        <div class="navbar">
            <a
                *ngFor="let menuItem of menuItems; index as itemIndex"
                class="navbar__link"
                [ngClass]="{ active: menuItem.active }"
                (click)="toggleActive(itemIndex, menuItems)"
            >
                {{ menuItem.name }}
            </a>
        </div>
        <div class="long-underline"></div>
    </div>
</div>
