<app-header class="header-block"></app-header>
<div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="popupOpened$ | async" class="popup-container">
    <obbey-popup
        class="popup"
        (closed)="closePopup(false)"
        [backgroundConfig]="popupBackground"
    >
        <div class="content">
            <obbey-form>
                <div class="form-title">
                    Отправить запрос на дизайнера-технолога
                </div>
                <div class="text-lighter">
                    и он связжется с вами в ближайшее время
                </div>

                <div class="form-action">
                    <obbey-input
                        type="text"
                        placeholder="Введите ваше имя"
                        class="mui-space_bottom-3"
                    ></obbey-input>

                    <obbey-input
                        type="tel"
                        placeholder="+7(___) ___-__-__"
                        class="mui-space_bottom-3"
                    ></obbey-input>

                    <div class="button-contaier">
                        <obbey-button
                            color="primary"
                            size="s"
                            uppercase
                            (click)="closePopup(true)"
                        >
                            Отправить
                        </obbey-button>
                    </div>
                </div>
                <div class="underline-text">
                    Нажимая на кнопку, вы принимаете условия
                    <span class="primary-text-color">передачи данных</span>
                </div>
            </obbey-form>
        </div>
    </obbey-popup>
</div>

<div *ngIf="showButton" class="button-container">
    <obbey-button (click)="scrollToTop()" uppercase color="primary" size="s">
        Наверх
    </obbey-button>
</div>
