<div class="container">
    <div class="left-column">
        <div class="title mui-space_bottom-8">
            Спасибо Вам, что оставили заявку и обратились к нам
        </div>
        <div class="text mui-space_bottom-8">
            Мы уже получили ваш запрос, в ближайшее время с вами свяжется наш
            специалист
        </div>
        <div class="description mui-space_bottom-8">
            Чтобы скрасить ваше ожидание, пока мы подготавливаем для вас
            информацию, предлагаем вам познакомиться с нами в социальных сетях:
        </div>
        <div class="block mui-space_bottom-8">
            <div class="block-content">
                <div class="block-title mui-space_bottom-4">
                    продолжить общение в месенджерах
                </div>
                <div class="messagers">
                    <obbey-messagers
                        class="messagers-content"
                    ></obbey-messagers>
                    <a
                        href="https://www.instagram.com/obbey.ru/"
                        target="_blank"
                    >
                        <app-icon name="iconInstagrammMessager"></app-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="outline-text">
            Показываем процесс работы и даем полезную информацию по уходу зa
            мебелью. Подпишись!

            <div class="mui-space_top-4">
                Нажмите на картинку, чтобы перейти в instagramm →
            </div>
        </div>
    </div>
    <div class="right-column">
        <a href="https://www.instagram.com/obbey.ru/" target="_blank">
            <img src="../../../assets/images/components/big-phone.png" alt="" />
        </a>
    </div>
</div>
