<div class="container">
    <div class="left-column">
        <div class="title">Наше производство</div>
        <div class="subtitle">Посмотрите видео с нашего производства</div>
    </div>

    <div class="right-column">
        <div
            *ngFor="let video of videoList; index as itemIndex"
            class="video-container mui-space_right-5"
        >
            <div #videoBlank class="video-blank">
                <div class="play" (click)="clickPlay(videoBlank, itemIndex)">
                    <app-icon name="iconPlay"></app-icon>
                </div>
            </div>

            <video
                (pause)="videoPause(videoBlank)"
                class="video-content"
                controls
            >
                <source [src]="video.source" type="video/mp4" />
            </video>
        </div>
    </div>

    <div class="overflow-block">
        <div class="overflow-block__title">
            Осуществляем постгарантийное обслуживание и сотрудничаем с фабриками
        </div>
        <div class="overflow-block__icon-list">
            <div *ngFor="let company of companyList" class="icon-element">
                <div class="icon-element__border">
                    <img [src]="company.icon" />
                </div>
                <div class="icon-element__description">{{ company.name }}</div>
            </div>
        </div>
    </div>
</div>
