<div class="frame">
    <div class="frame__description">
        <div class="subtitle">
            Никто не сможет отличить вашу старую мебель от новой
        </div>
        <div class="title">
            Восстановим и перетянем стулья натуральной кожей за 12 дней
        </div>

        <div class="text">
            Сохраним уникальность и стиль вашей мебели с гарантией превосходного
            качества от 3-х лет
        </div>
        <div class="button-element">
            <obbey-button
                size="m"
                color="primary"
                uppercase
                (click)="openPopup()"
            >
                заказать дизайнера-технолога
            </obbey-button>
        </div>

        <div class="block">
            <div class="block__content">
                <div class="block__title">Расчитаем стоимость по фото</div>
                <div class="messagers">
                    <div class="messager">
                        <app-icon name="iconTelegrammMessager"></app-icon>
                    </div>

                    <div class="messager">
                        <app-icon name="iconViberMessager"></app-icon>
                    </div>

                    <div class="messager">
                        <app-icon name="iconWhatsupMessager"></app-icon>
                    </div>

                    <div class="messagers__description">
                        Отправьте нам фотографию вашей мебели удобным для вас
                        способом
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame__body">
        <div class="frame__image">
            <div class="image-content">
                <div class="f-icon">
                    <img src="../../../../assets/images/Frame.png" alt="" />
                </div>
                <img
                    src="../../../../assets/images/leather-furniture/leatherChairs.png"
                />
            </div>
        </div>
    </div>

    <div class="frame__footer">
        <div class="element-list">
            <obbey-shield-item
                *ngFor="let element of elements"
                class="element"
                [description]="element.description"
            ></obbey-shield-item>
        </div>
    </div>
</div>
