<div class="container">
    <div class="title-page">
        Хотите защитить свою мебель от любых пятен и потери презентабельного
        внешнего вида?
    </div>

    <div class="subtitle-page">
        Мы можем предоставить услугу по обработке и защите поверхности мебели
    </div>

    <div class="content">
        <div class="left-column">
            <div class="left-column__card">
                <div class="card-title">99%</div>
                <div class="card-description">
                    защита от всех видов житкостей, пятна не впитываются и легко
                    удаляются
                </div>
            </div>

            <div class="left-column__card">
                <div class="card-title">
                    <span class="small-text"> на</span> 99%
                </div>
                <div class="card-description">
                    защита от затирания и образования катышек
                </div>
            </div>

            <div class="left-column__card">
                <div class="card-title">
                    <span class="small-text"> на</span> 95%
                </div>
                <div class="card-description">
                    замедление старения обивочного материала
                </div>
            </div>

            <div class="left-column__card">
                <div class="card-title">
                    <span class="small-text"> на</span> 90%
                </div>
                <div class="card-description">
                    уменьшение развития болезнетворных бактерий
                </div>
            </div>

            <div class="left-column__card">
                <div class="card-title">Не</div>
                <div class="card-description">
                    образуется пленка, поверхность остается дышащей, внешний вид
                    не меняется
                </div>
            </div>
            <div class="left-column__card">
                <div class="card-title">100%</div>
                <div class="card-description">
                    гипоаллергенное и безопасное средство для детей и животных
                </div>
            </div>

            <div class="shield-item">
                <div class="icon">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="shield-item__description">
                    Также вы получаете 3 летнюю гарантию на выполненную работу
                    по нанесению защитного покрытия и 10 летнюю гарантия
                    качества от производителя!
                </div>
            </div>

            <div class="button-container">
                <obbey-button
                    class="button"
                    size="m"
                    color="primary"
                    uppercase
                    (click)="openPopup()"
                >
                    узнать стоимость обработки
                </obbey-button>

                <div class="button-container__description">
                    Оставьте заявку и мы рассчитаем стоимость обработки вашей
                    мебели
                </div>
            </div>
        </div>

        <div class="right-column">
            <img src="../../../../../assets/images/blocks/furniture-protection-background.png" />
        </div>
    </div>
</div>
