<div class="block">
    <div class="block__content">
        <div class="title mui-space_bottom-10">
            Процесс ремонта мебели на нашем производстве
        </div>

        <div class="block__elements">
            <div
                *ngFor="let element of elements; index as index"
                class="element"
            >
                <div class="element__content">
                    <div class="number mui-space_bottom-5">
                        {{ index + 1 }}
                    </div>
                    <div class="second">
                        <div class="line"></div>
                        <div class="text">{{ element.caption }}</div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
