<div class="block">
    <div class="block__content">
        <div class="title mui-space_bottom-10">
            Процесс ремонта мебели на нашем производстве
        </div>

        <div class="block__elements">
            <obbey-flip-card
                *ngFor="let element of elements; index as index"
                [image]="element.image"
                [caption]="element.caption"
                [number]="index + 1"
                [outsideText]="element.text"
                class="element"
            ></obbey-flip-card>
        </div>
    </div>
</div>
