@font-face {
    font-family: "BerlingskeSerif-Blk_0";
    src: url("BerlingskeSerif-Blk_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BerlingskeSerif-BlkItalic_0";
    src: url("BerlingskeSerif-BlkItalic_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BerlingskeSerif-Bold_0";
    src: url("BerlingskeSerif-Bold_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BerlingskeSerif-Regular";
    src: url("BerlingskeSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BerlingskeSerif-SemiBold";
    src: url("BerlingskeSerif-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
