<div class="container">
    <div class="left-column">
        <div class="title">Наше производство</div>
        <div class="subtitle">Посмотрите видео с нашего производства</div>
    </div>

    <div class="right-column">
        <div class="video mui-space_right-5">
            <div class="play">
                <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M2.333 0.867012C1.48 0.426012 0.789001 0.787012 0.789001 1.66901V8.19501C0.789001 9.07801 1.48 9.43801 2.333 9.00001L8.675 5.72901C9.529 5.28901 9.529 4.57501 8.675 4.13601L2.333 0.867012Z"
                        fill="#111416"
                    />
                </svg>
            </div>
        </div>
        <div class="video mui-space_right-5">
            <div class="play">
                <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M2.333 0.867012C1.48 0.426012 0.789001 0.787012 0.789001 1.66901V8.19501C0.789001 9.07801 1.48 9.43801 2.333 9.00001L8.675 5.72901C9.529 5.28901 9.529 4.57501 8.675 4.13601L2.333 0.867012Z"
                        fill="#111416"
                    />
                </svg>
            </div>
        </div>
        <div class="video">
            <div class="play">
                <svg
                    width="10"
                    height="10"
                    viewBox="0 0 10 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M2.333 0.867012C1.48 0.426012 0.789001 0.787012 0.789001 1.66901V8.19501C0.789001 9.07801 1.48 9.43801 2.333 9.00001L8.675 5.72901C9.529 5.28901 9.529 4.57501 8.675 4.13601L2.333 0.867012Z"
                        fill="#111416"
                    />
                </svg>
            </div>
        </div>
    </div>
</div>
