<div class="frame">
    <div class="frame__description">
        <div class="subtitle">
            <div class="mui-space_bottom-10">
                Не теряйте деньги на покупке новой мебели
            </div>
        </div>

        <div class="title mui-space_bottom-10">
            Вернем презентабельный вид вашей мебели и улучшим качество,
            сэкономив вам средства в 2 раза на покупке новой мебели
        </div>

        <div class="text">
            Оставьте заявку, мы рассчитаем стоимость и направим вам коммерческое
            предложение, исходя из ваших задач
        </div>

        <div class="block-footer">
            <div class="button-element">
                <div class="icon">
                    <img
                        src="../../../assets/images/components/iconPaper.png"
                        alt=""
                    />
                </div>
                <obbey-button
                    class="button"
                    size="m"
                    color="primary"
                    uppercase
                    (click)="openPopup()"
                >
                    получить предложение
                </obbey-button>
            </div>

            <div class="label">
                Также есть возможность дополнительной обработки для защиты
                мебели от пятен и порезов
            </div>
        </div>
    </div>
</div>

<div class="underline-gradient"></div>
<div class="footer">
    <div class="block">
        <div class="block__title">Разнообразие</div>

        <div class="block__description">
            Свыше 2400 видов тканей и материалов
        </div>
    </div>

    <div class="block">
        <div class="block__title">Удобство</div>

        <div class="block__description">
            Сами заберем мебель и установим обратно
        </div>
    </div>

    <div class="block">
        <div class="block__title">Бесплатно</div>

        <div class="block__description">
            Бесплатный выезд дизайнера-технолога
        </div>
    </div>
</div>
