@font-face {
    font-family: "MuseoSansCyrl-Black";
    src: url("MuseoSansCyrl.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl_0";
    src: url("MuseoSansCyrl_0.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl_1";
    src: url("MuseoSansCyrl_1.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl_2";
    src: url("MuseoSansCyrl_2.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl_3";
    src: url("MuseoSansCyrl_3.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
