<div class="frame">
    <div class="frame__description">
        <div class="subtitle">Не тратьте деньги на покупку новой кровати</div>

        <div class="title">
            Вернем кровати былой шарм за 16 дней - ваша мебель в новом дизайне и
            превосходном качестве
        </div>

        <div class="text">
            Закажите бесплатный выезд дизайнера-технолога для выбора материала и
            точной оценки стоимости
        </div>
        <div class="button-element">
            <obbey-button size="m" color="primary" uppercase>
                заказать дизайнера-технолога
            </obbey-button>
        </div>
    </div>

    <div class="shine"></div>

    <div class="frame__image">
        <div class="image-content">
            <div class="f-icon">
                <img src="../../../../assets/images/Frame.png" alt="" />
            </div>
            <img
                src="../../../../assets/images/header-block/padding-furniture-bed.png"
                alt=""
            />
        </div>
    </div>
</div>
