<div class="container">
    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <div class="block__title">Уход за мебелью</div>
                <div class="block__description">
                    <div>
                        Мягкая мебель нуждается в тщательном и постоянном уходе.
                        Мероприятия по уходу за тканевым диваном можно условно
                        разделить на две подгруппы:
                    </div>

                    <div class="title">Профилактика</div>
                    <div>
                        Она включает в себя простые действия, сохраняющие и
                        продлевающие срок службы мягкой мебели. Для диванной
                        обивки актуальное периодическое использование пылесоса
                        или сухой щетки. Ежемесячно стоит проводить и влажную
                        уборку поверхности со специальными составами,
                        подходящими к определенному виду ткани.
                    </div>
                    <div>
                        Однако, обивку с вискозой подвергать плановой влажной
                        уборке не рекомендуется - в скором времени, от
                        постоянного сконтакта с жидкостью, она перестанет
                        сохранять свой презентабельный вид.
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img src="../../../assets/images/Rectangle699.png" alt="" />
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <img src="../../../assets/images/Rectangle700.png" alt="" />
            </div>
            <div class="right-column">
                <div class="block__description">
                    <div class="title">Выведение пятен с поверхности</div>
                    <div>
                        Процесс может быть оперативным (как только пятно
                        появилось) или запланированным (для застарелых пятен).
                        Техника удаления и результат зависят от множества
                        факторов: какого типа пятно (жидкостное, жировое,
                        смешанное), как давно оно появилось, с какой ткани
                        требуется его удалить и т.д. Наиболее простыми являются
                        жидкостные пятна - они могут быть удалены влажной губкой
                        или простым мыльным раствором. Для пятен с примесью жира
                        актуальны только специализированные пятновыводители на
                        основе химии.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block__content">
            <div class="fabric-list">
                <div class="text-block">
                    Как и любой материал обивочная ткань имеет разновидности. Их
                    огромное множество и для каждой существуют свои рекомендации
                    для сохранения внешнего вида. Найдите в списке ниже именно
                    вашу ткань или материал и следуйте рекомендациям:
                </div>
                <div class="text-block">
                    <span class="text-bold"> Флок </span>
                    - служит долго и верно, но не допускает спирта и других
                    растворителей. Уход за флоком осуществляется только
                    составами на водной основе. Лучший друг флока - пылесос, от
                    него у материала может появиться эффектный блеск
                </div>
                <div class="text-block">
                    <span class="text-bold"> Шенилл </span>
                    - имеет в составе грязеотталкивающие вещества, поэтому
                    всегда легко чистится даже при помощи средств на основе воды
                </div>
                <div class="text-block">
                    <span class="text-bold"> Жаккард </span>
                    - не может воспринимать воду в процессе ухода, поэтому
                    рекомендуется сухая чистка. Но если пятно без этого не
                    исчезнет - воспользуйтесь водой комнатной температуры,
                    которая минимально навредит обивке
                </div>
                <div class="text-block">
                    <span class="text-bold"> Велюр </span>
                    - легко поддается сухой чистке при помощи пылесоса. Стирать
                    (в том числе съемные обивочные чехлы) нельзя, но простой
                    водяной раствор иногда может стать решением проблемы
                </div>
                <div class="text-block">
                    <span class="text-bold"> Микрофибра </span>
                    - требует периодической сухой чистки, а также обработки
                    водяным мыльным раствором для поддержания презентабельного
                    внешнего вида
                </div>
                <div class="text-block">
                    <span class="text-bold"> Рогожа </span>
                    - негативно воспринимает стирки и использование грубых
                    химических средств, поэтому подвергается обычно локальной
                    чистке мыльным раствором
                </div>
                <div class="text-block">
                    <span class="text-bold"> Натуральная кожа </span>
                    - уход за кожаным изделием должен быть регулярным:
                </div>
                <ul class="list">
                    <li class="list__item">
                        Раз в 15 дней протирайте поверхность влажной тряпочкой
                    </li>
                    <li class="list__item">
                        Раз в 2-3 месяца пылесосьте обивку, чтобы пыль не
                        забивала поры
                    </li>
                    <li class="list__item">
                        Раз в год используйте специальные очищающие и защитные
                        средства: они замедляют процесс старения
                    </li>
                    <li class="list__item">
                        После того, как протёрли поверхность влажной губкой или
                        тряпочкой, пройдитесь ещё раз сухой тряпочкой
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="underline-gradient"></div>
    <div class="container__footer">
        <div class="footer-title">
            Если вышеперечисленные рекомендации вам не помогли, рекомендуем
            заказать химчистку мебели
        </div>
        <div class="footer-content">
            <div class="footer-content__description">
                Данные услуги мы не оказываем, но всегда готовы по рекомендовать
                надежных партнеров в этой области:
            </div>

            <div class="messagers">
                <div class="mui-space_bottom-4">напишите в месенджерах</div>
                <div class="messager-list">
                    <div class="messager">
                        <app-icon name="iconTelegrammMessager"></app-icon>
                    </div>
                    <div class="messager">
                        <app-icon name="iconViberMessager"></app-icon>
                    </div>
                    <div class="messager">
                        <app-icon name="iconWhatsupMessager"></app-icon>
                    </div>
                </div>
            </div>

            <div class="call-to-phone">
                <div class="mui-space_bottom-4">позвоните по номеру</div>
                <div class="telephone">8 (495) 794 1493</div>
            </div>
        </div>
    </div>
</div>
