<div class="container">
    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <div class="block__title">Доставка и оплата</div>
                <div class="block__description">
                    <div class="title">Доставка</div>
                    <div>
                        По итогу готовности ремонта вашей мебели с вами
                        связывается персональный менеджер и согласовываем день и
                        время доставки В день доставки с вами также свяжутся и
                        напомнят о приезде. Наши специалисты доставят, поднимут
                        и установят вашу мебель Во время доставки ваша мебель
                        полностью упакована и защищена от повреждений
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img src="../../../assets/images/image1.png" alt="" />
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <img src="../../../assets/images/Rec1.png" alt="" />
            </div>
            <div class="right-column">
                <div class="block__description">
                    <div class="title">
                        оплата - оплата состоит из двух частей
                    </div>
                    <div>
                        <span class="text-bold">Первая часть</span>
                        - заключение договора и формирование подробного
                        технического задания (ТЗ) по цвету, материалу, срокам и
                        окончательной стоимости. По итогу подписания договора и
                        утверждения ТЗ, производится оплата стоимости материала.
                        Обычно, стоимость материала - это 70% от стоимости
                        договора.
                    </div>
                    <div>
                        <span class="text-bold">Вторая часть</span>
                        - оплата за работу составляет оставшиеся 30% от
                        стоимости договора и вносится по факту доставки вашей
                        мебели и вашего утверждения
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="underline-gradient"></div>
    <div class="container__footer">
        <div class="footer-content">
            <div class="footer-content__description">
                Задайте интересующий вас вопрос, написав нам удоным вам способом
                или позвонив нам на номер
            </div>

            <div class="messagers">
                <div class="messager-list">
                    <div class="messager">
                        <app-icon name="iconTelegrammMessager"></app-icon>
                    </div>
                    <div class="messager">
                        <app-icon name="iconViberMessager"></app-icon>
                    </div>
                    <div class="messager">
                        <app-icon name="iconWhatsupMessager"></app-icon>
                    </div>
                </div>
            </div>

            <div class="call-to-phone">
                <div class="telephone">8 (495) 794 1493</div>
            </div>
        </div>
    </div>
</div>
