<div class="box">
    <div class="fixed-container">
        <div class="header-panel">
            <div class="title-block">
                <a (click)="menuClick($event.currentTarget)">
                    <!-- OBBEY -->
                    <app-company-logo type="MOBILE"></app-company-logo>
                </a>
                <div class="underline-text">Мебель у нас</div>
            </div>

            <div class="contact-block">
                <a href="tel:+74952080778" class="mobile"> 8(495) 208-07-78 </a>

                <div class="address">
                    <div class="address__icon">
                        <app-icon name="iconPinAddress"></app-icon>
                    </div>
                    <div class="address__description">по Москве и МО</div>
                </div>
            </div>
        </div>

        <div class="underline-gradient-left"></div>

        <app-dropdown
            (click)="opened = !opened"
            [items]="menuItems$ | async"
            [opened]="opened"
            (itemSelected)="menuItemClick($event)"
        >
            <div class="menu-container">
                <div class="menu-panel">
                    <app-icon name="iconLeftMenuBurger" class="icon"></app-icon>

                    <div class="menu-text">Меню</div>
                </div>
            </div>
        </app-dropdown>

        <div class="underline-gradient-left"></div>
    </div>
</div>

<ng-container *ngIf="component$ | async as component">
    <obbey-dynamic-header-preview
        [component]="component"
    ></obbey-dynamic-header-preview>
</ng-container>
