<block-calculate></block-calculate>
<app-designer-order-block></app-designer-order-block>
<app-progress-work-block></app-progress-work-block>
<app-responsibility-block></app-responsibility-block>
<app-production-block></app-production-block>
<app-examples-block></app-examples-block>
<app-quality-block></app-quality-block>
<app-recomended-block></app-recomended-block>
<app-social-block></app-social-block>
<app-benefit-block id="customId"></app-benefit-block>
<app-bonus-block></app-bonus-block>
<app-map-block></app-map-block>
