<div class="container">
    <div class="form-container">
        <div class="form-content">
            <div class="form-title">Наши контакты</div>

            <div class="list">
                <div class="list__caption">Телефон:</div>
                <div class="list__description">8 (495) 749 14 93</div>
            </div>
            <div class="list">
                <div class="list__caption">Часы работы:</div>
                <div class="list__description">Пн-Вс: с 9:00 до 21:00</div>
            </div>
            <div class="list">
                <div class="list__caption">E-mail:</div>
                <div class="list__description">obbeyru@yandex.ru</div>
            </div>
            <div class="list">
                <div class="list__caption">Наше производство:</div>
                <div class="list__description">
                    МО г. Пушкино, Краснофлоткая 9
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <button class="button">
            <div class="button-border">ctrl + d</div>
        </button>

        <div class="label">Добавить сайт в избраное</div>
    </div>

    <div class="footer-page">
        <div class="logo">
            <app-company-logo class="mui-space_bottom-3"></app-company-logo>
            <div class="logo-title">мебель у нас</div>
        </div>
        <div class="messagers">
            <div class="title">Задайте нам любой вопрос на прямую:</div>
            <div class="icon-list">
                <div class="icon">
                    <app-icon name="iconTelegramm"></app-icon>
                </div>
                <div class="icon">
                    <app-icon name="iconViber"></app-icon>
                </div>
                <div class="icon">
                    <app-icon name="iconWhatsup"></app-icon>
                </div>
                <div class="icon-list__description">
                    Время ответа в среднем 3 мин
                </div>
            </div>
        </div>
        <div class="socials">
            <div class="title">Подписывайтесь на нас в соцсетях:</div>
            <div class="icon-list">
                <div class="icon">
                    <a href="https://www.instagram.com/obbey.ru/">
                        <app-icon name="iconInstagramm"></app-icon>
                    </a>
                </div>
                <div class="icon">
                    <app-icon name="iconFacebook"></app-icon>
                </div>
                <div class="icon-list__description">
                    Будем рады видеть вас в наших соцсетях
                </div>
            </div>
        </div>
    </div>
</div>
