<div class="container">
    <div class="title-page">
        Закажите бесплатный выезд нашего дизайнера-технолога и получите приятные
        бонусы
    </div>

    <div class="bonus-list">
        <div class="bonus-item">
            <div class="image">
                <img
                    src="../../../../../assets/images/bonus-block/icon1.png"
                    alt=""
                />
            </div>
            <div class="description">
                Получите 2 интерьерные подушки в подарок
            </div>
        </div>
        <div class="bonus-item">
            <div class="image">
                <img
                    src="../../../../../assets/images/bonus-block/icon3.png"
                    alt=""
                />
            </div>
            <div class="description">Скидка 10% на конечную стоимость</div>
        </div>
        <div class="bonus-item">
            <div class="image">
                <img
                    src="../../../../../assets/images/bonus-block/icon2.png"
                    alt=""
                />
            </div>
            <div class="description">
                Увезем и привезем вашу мебель бесплатно
            </div>
        </div>
        <div class="bonus-item">
            <div class="image">
                <img
                    src="../../../../../assets/images/bonus-block/icon4.png"
                    alt=""
                />
            </div>
            <div class="description">3 варианта стоимости вашей мебели</div>
        </div>
    </div>

    <obbey-form class="form">
        <div class="form-title">Назначьте бесплатную встречу</div>
        <div class="text-upper">напишите нам удобным способом</div>
        <div class="messagers mui-space_bottom-2">
            <div class="messager">
                <app-icon name="iconTelegrammMessager"></app-icon>
            </div>
            <div class="messager">
                <app-icon name="iconViberMessager"></app-icon>
            </div>
            <div class="messager">
                <app-icon name="iconWhatsupMessager"></app-icon>
            </div>
        </div>
        <div class="text mui-space_bottom-2">
            После отправки данных менеджер свяжется с вами для согласования даты
            встречи с технологом
        </div>

        <form class="form-action">
            <input
                class="input mui-space_bottom-1"
                type="text"
                placeholder="Введите ваше имя"
            />
            <input class="input mui-space_bottom-1" type="number" />

            <div class="add-image">
                <div class="add-image__icon">
                    <app-icon name="iconAddImage"></app-icon>
                </div>
                <label class="add-image__label">Загрузить фотографии</label>
                <input
                    style="display: none"
                    type="file"
                    class="mui-space_bottom-2"
                />
            </div>

            <button class="button">Получить ответы</button>
        </form>
        <div class="underline-text">
            Нажимая на кнопку, вы принимаете условия
            <span class="primary-text-color">передачи данных</span>
        </div>
    </obbey-form>
</div>
