<div class="container">
    <div class="title">
        Качество работы по реставрации вашей мебели - наша личная
        ответственность
    </div>

    <div class="subtitle">Основатели компании Obbey</div>

    <div class="form">
        <div class="form__content">
            <div class="form__title">Отправьте нам фотографию мебели</div>
            <div class="text-lighter">
                и мы рассчитаем стоимость вашего ремонта
            </div>
            <div class="text-upper">напишите нам удобным способом</div>
            <div class="messagers mui-space_bottom-2">
                <div class="messager">
                    <app-icon name="iconTelegrammMessager"></app-icon>
                </div>
                <div class="messager">
                    <app-icon name="iconViberMessager"></app-icon>
                </div>
                <div class="messager">
                    <app-icon name="iconWhatsupMessager"></app-icon>
                </div>
            </div>
            <div class="text mui-space_bottom-2">
                Задайте нам интересующие вас вопросы
            </div>

            <form class="form-action">
                <input
                    class="input mui-space_bottom-1"
                    type="text"
                    placeholder="Введите ваше имя"
                />
                <input class="input mui-space_bottom-1" type="number" />

                <div class="add-image">
                    <div class="add-image__icon">
                        <app-icon name="iconAddImage"></app-icon>
                    </div>
                    <label class="add-image__label">Загрузить фотографии</label>
                    <input
                        style="display: none"
                        type="file"
                        class="mui-space_bottom-2"
                    />
                </div>

                <button class="button">Получить ответы</button>
            </form>
            <div class="underline-text">
                Нажимая на кнопку, вы принимаете условия
                <span class="primary-text-color">передачи данных</span>
            </div>
        </div>
    </div>
</div>
