<div class="container">
    <div class="title-page">
        Отзывы из социальных сетей
        <div class="icon">
            <app-icon name="iconQuotes"></app-icon>
        </div>
    </div>

    <obbey-carousel>
        <ng-template *ngFor="let social of socialList" carouselItem>
            <div class="social-block">
                <div class="avatar mui-space_bottom-5">
                    <div *ngIf="social.screen" class="avatar-image">
                        <img [src]="social.screen" alt="" />
                    </div>

                    <div class="user-info">
                        <div class="name"></div>
                        <div class="link">{{ social.instagramm }}</div>
                    </div>
                </div>
                <div class="social-block__content">
                    {{ social.description }}
                </div>
            </div>
        </ng-template>
    </obbey-carousel>
</div>
