<div class="container">
    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <div class="block__title">О компании Obbey</div>
                <div class="block__subtitle">
                    Высокий стандарт качества, проверенный на практике за 11 лет
                    работы
                </div>
                <div class="block__description">
                    <div class="title">Начало развития компании</div>
                    <div>
                        В 2009 году два молодых начинающих предпринимателя
                        открывают небольшую мастерскую по ремонту мебели.
                    </div>
                    <div>
                        На тот момент, имея опыт работы на мебельной фабрике и
                        понимая технологию создания мебели, ребята решили
                        отправиться в «самостоятельное плавание». В 2010 году
                        мастерская насчитывала по 6-7 заказа в месяц и 2-х
                        мастеров
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img src="../../../assets/images/Rectangle69.png" alt="" />
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <img src="../../../assets/images/Rectangle70.png" alt="" />
            </div>
            <div class="right-column">
                <div class="block__description">
                    <div>
                        В 2012 году с увеличением заказов было принято решение о
                        расширении площади и коллектива компании.
                    </div>
                    <div>
                        На тот момент клиенты уже с охотой рекомендовали
                        мастерскую, и сарафанное радио отлично помогало в
                        развитии бизнеса.
                    </div>
                    <div>
                        2014 год, оказался сложным испытанием, в связи с
                        кризисом, штат, который насчитывал свыше 30 сотрудников
                        пришлось сократить на 40% и отказаться от грандиозных
                        планов по закупке оборудования
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__content">
            <div class="block__description">
                <div>
                    Именно в тот момент было принято ключевое решение, которое
                    сыграло важную роль в развитии компании. Сменить поставщиков
                    тканей, наполнителей и расходных материалов, на более
                    качественные. Риск был велик, со смены поставщиков, менялись
                    и цены, уже было сложно работать с низким чеком и
                    приходилось срочно выходить на новый уровень формирования
                    стоимости, даже не смотря на сложную экономическую
                    обстановку в стране.
                </div>
                <div>
                    Пройдя все испытания к 2017 году компания переходит из
                    небольшой мастерской и открывает производство полного цикла
                    и официально становится «Фабрикой». Закупив новое
                    оборудование и повысив качество, компания Obbey имела
                    постоянный поток заказов и превосходное качество выполняемых
                    работ.
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__content">
            <div class="left-column">
                <div class="block__description">
                    <div>
                        На сегодняшний день наша компания насчитывает порядка 40
                        сотрудников, свыше 10 провереных поставщиков материала,
                        а также новейшее оборудования, позволяющее работать даже
                        с самыми нестандартными и сложными заказами
                    </div>
                    <div>
                        Заключены партнерские отношения с известными фабриками
                        производителей мебели на гарантийное обслуживание
                    </div>
                </div>
            </div>
            <div class="right-column">
                <img
                    src="../../../assets/images/about-company/about-company-3.png"
                    alt=""
                />
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__content">
            <div class="block__description">
                <div>
                    Мастера - выходцы с ведущих фабрик России, имеющие огромный
                    практический опыт работы над мебелью. За последние 6 лет
                    работы сэкономили нашим клиентам более 22 500 000 милн.
                    рублей на покупке новой мебели. Благодаря возможности работы
                    на больших объемах, к нам постоянно обращаются
                    представители: баров, ресторанов, офисных компаний, отелей и
                    гостиниц. Среди наших клиентов есть известные блогеры и
                    ведущие, политики и предприниматели
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="image">
            <img
                src="../../../assets/images/about-company/about-company-4.png"
                alt=""
            />
        </div>
    </div>
    <div class="container__footer">
        <div class="">С уважением коллектив компании OBBEY</div>
        <div class="button-container">
            <obbey-button size="m" color="primary" uppercase>
                оставить заявку на расчет стоимости
            </obbey-button>
        </div>
    </div>
</div>
