<div class="frame">
    <div class="frame__description">
        <div class="subtitle">
            <div>
                Ваша мебель как
                <span class="primary-text-color"> новая за 15 дней </span>
            </div>
            <img src="../../../../assets/images/clock.png" alt="" />
        </div>

        <div class="title">
            Реставрируем мебель с 2009 года на нашем производстве
        </div>

        <div class="text">
            Работаем по регламентам известных фабрик-изготовителей
        </div>

        <button class="button">
            заказать бесплатный выезд дизайнера-технолога
        </button>
    </div>

    <div class="shine"></div>

    <div class="frame__image">
        <div class="image-content">
            <div class="f-icon">
                <img src="../../../../assets/images/Frame.png" alt="" />
            </div>
            <img
                src="../../../../assets/images/header-block/armchair.png"
                alt=""
            />
        </div>
    </div>
</div>

<div class="footer">
    <div class="block">
        <div class="block__title">Разнообразие</div>

        <div class="block__description">
            Свыше 2400 видов тканей и материалов
        </div>
    </div>

    <div class="block">
        <div class="block__title">Удобство</div>

        <div class="block__description">
            Сами заберем мебель и установим обратно
        </div>
    </div>

    <div class="block">
        <div class="block__title">Бесплатно</div>

        <div class="block__description">
            Бесплатный выезд дизайнера-технолога
        </div>
    </div>
</div>
