<div class="container">
    <div class="container__title-page">Вопрос - ответ:</div>

    <div>
        <button class="accordion" (click)="toggleActive($event.currentTarget)">
            что такое перетяжка мебели?
        </button>
        <div class="panel">
            Это замена обивочной ткани и внутреннего наполнителя мебели с учётом
            всех ваших пожеланий. Ваша мебель будет, как новая
        </div>
    </div>
    <div>
        <button class="accordion" (click)="toggleActive($event.currentTarget)">
            Что даёт перетяжка мебели?
        </button>
        <div class="panel">
            Ваша мебели приобретает внешний вид, как только что купленная в
            мебельном магазине. С учётом ваших пожеланий мы подбираем цвет и
            материал, меняем внутреннее наполнение и предаём форму изделию. Вам
            не нужно тратить деньги на покупку новой мебели
        </div>
    </div>
    <div>
        <button class="accordion" (click)="toggleActive($event.currentTarget)">
            Какие виды работ вы производите?
        </button>
        <div class="panel">
            Наша компания производит любые виды работ с мягкой мебелью: -
            Перетяжка тканью и кожей - Замена наполнителя - Покраска деревянных
            поверхностей - Замена механизмов - Склейка сломанных элементов
            -Гарантийное обслуживание - Изготовление мебели по индивидуальным
            проектам
        </div>
    </div>
    <div>
        <button class="accordion" (click)="toggleActive($event.currentTarget)">
            У меня износился один мебельный элемент, а все остальное как новое.
            Что делать?
        </button>
        <div class="panel">
            Довольно распространенная проблема: изнашивается только одна деталь
            (например, сидение, подлокотники или спинка). Конечно, в этом случае
            нет необходимости перетягивать все изделие. Привезите изношенный
            элемент к нам, а мы подберем подходящий цвет и материал для
            перетяжки
        </div>
    </div>

    <div *ngFor="let item of accordionItems">
        <button class="accordion" (click)="toggleActive($event.currentTarget)">
            что такое перетяжка мебели?
        </button>
        <div class="panel">
            Это замена обивочной ткани и внутреннего наполнителя мебели с учётом
            всех ваших пожеланий
        </div>
    </div>
</div>
