:host {
    display: block;
    padding-top: 70px;
    padding-left: 30px;

    > * {
        color: #000;
    }
}

.container {
    display: flex;
    flex-direction: column;

    &__title-page {
        font-family: "BerlingskeSerif";
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 46px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        margin-bottom: 40px;
    }
}

.accordion {
    cursor: pointer;
    padding: 18px 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s ease-in-out;
    font-family: "MuseoSansCyrl-700";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border: 1px solid #34383b;
    box-sizing: border-box;
}

.active,
.accordion:hover {
    color: #f4ab2c;
    border-left: 2px solid #f4ab2c;
}

.panel {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    font-family: "MuseoSansCyrl-100";
    font-style: normal;
    font-weight: 250;
    font-size: 16px;
    line-height: 19px;
}

.accordion.active + .panel {
    // padding: 28px 40px;
    transition: 0.2s ease-out;
}
