<div class="frame">
    <div class="frame__description">
        <div class="subtitle">
            Никто не сможет отличить вашу старую мебель от новой
        </div>

        <div class="title">
            Восстановим и перетянем вашу мебель натуральной кожей за 12 дней
        </div>

        <div class="text">
            Сохраним уникальность и стиль вашей мебелис гантией превосходного
            качества от 3-х лет
        </div>
        <div class="button-element">
            <obbey-button
                size="m"
                color="primary"
                uppercase
                (click)="openPopup()"
            >
                Заказать дизайнера-технолога
            </obbey-button>
        </div>

        <div class="block">
            <div class="block__content">
                <div class="block__title">Расчитаем стоимость по фото</div>
                <div class="messagers">
                    <obbey-messagers class="messager"></obbey-messagers>

                    <div class="messagers__description">
                        Отправьте нам фотографию вашей мебели удобным для вас
                        способом
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="frame__body">
        <div class="frame__image">
            <div class="image-content">
                <div class="f-icon">
                    <img src="../../../../assets/images/Frame.png" alt="" />
                </div>
                <img
                    src="../../../../../assets/images/leather-furniture/leatherPoufs.png"
                    alt=""
                />
            </div>
        </div>
    </div>

    <div class="frame__footer">
        <div class="element-list">
            <obbey-shield-item
                *ngFor="let element of elements"
                class="element"
                [description]="element.description"
            ></obbey-shield-item>
        </div>
    </div>
</div>
