<div class="block">
    <div class="block__content">
        <div class="title">
            <span class="primary-text-color">
                Боитесь, что ремонт будет некачественным,
            </span>
            отремонтированная мебель утратит свой внешний вид через год ?
        </div>

        <div class="grid-panel">
            <obbey-shield-item
                *ngFor="let item of items"
                [description]="item.description"
            ></obbey-shield-item>
        </div>

        <div class="block__footer">
            <div class="button-container">
                <obbey-button
                    size="m"
                    color="primary"
                    uppercase
                    (click)="openPopup()"
                >
                    заказать выезд дизайнера-технолога
                </obbey-button>
            </div>

            <div class="description mui-space_left-5">
                Современное оборудование позволяет восстановить даже
                <span class="primary-text-color">самую прихотливую мебель</span>
            </div>
        </div>
    </div>
</div>
