<div class="block">
    <div class="block__content">
        <div class="title">
            <span class="primary-text-color">
                Боитесь, что ремонт будет некачественным,
            </span>
            отремонтированная мебель утратит свой внешний вид через год ?
        </div>

        <div class="grid-panel">
            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    На нашем производстве только современное европейское
                    оборудование не позднее 2018 года
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    Превосходное качество наполнения позволяет сохранить форму и
                    внешний вид мебели свыше 9 лет
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    Три степени покраски корпуса мебели для защиты и стойкости к
                    повреждениям
                </div>
            </div>

            <div class="element">
                <div class="icon mui-space_right-5">
                    <app-icon name="iconShield"></app-icon>
                </div>
                <div class="text">
                    Команда состоящая из специалистов и выходцев известных
                    фабрик таких как: 8 Марта, Albert & Shtein, Britannica
                </div>
            </div>
        </div>

        <div class="block__footer">
            <button class="button">заказать выезд дизайнера-технолога</button>
            <div class="description mui-space_left-5">
                Современное оборудование позволяет восстановить даже
                <span class="primary-text-color">самую прихотливую мебель</span>
            </div>
        </div>
    </div>
</div>
