<div class="container">
    <div class="title-page">Портфолио работ</div>
    <div class="tab-group">
        <div
            *ngFor="let tabItem of tabList; index as itemIndex"
            class="tab"
            [ngClass]="{ active: tabItem.active }"
            (click)="tabClick(tabItem.id, itemIndex)"
        >
            {{ tabItem.caption }}
        </div>
    </div>

    <ng-container [ngSwitch]="currentList$ | async">
        <app-examples-catalog
            *ngSwitchCase="'poufsAndBanquets'"
            class="catalog"
            [list]="poufsAndBanquets"
        ></app-examples-catalog>

        <app-examples-catalog
            *ngSwitchCase="'headboards'"
            class="catalog"
            [list]="headboards"
        ></app-examples-catalog>

        <app-examples-catalog
            *ngSwitchCase="'chairs'"
            class="catalog"
            [list]="chairs"
        ></app-examples-catalog>

        <app-examples-catalog
            *ngSwitchCase="'armchairs'"
            class="catalog"
            [list]="armchairs"
        ></app-examples-catalog>

        <app-examples-catalog
            *ngSwitchCase="'cornerSofas'"
            class="catalog"
            [list]="cornerSofas"
        ></app-examples-catalog>

        <app-examples-catalog
            *ngSwitchCase="'straightSofas'"
            class="catalog"
            [list]="straightSofas"
        ></app-examples-catalog>
    </ng-container>
</div>
