<div class="container">
    <div class="title-page">Портфолио работ</div>
    <div class="tab-group">
        <div
            *ngFor="let tabItem of tabList; index as itemIndex"
            class="tab"
            [ngClass]="{ active: tabItem.active }"
            (click)="tabClick(tabItem.id, itemIndex)"
        >
            {{ tabItem.caption }}
        </div>
    </div>

    <app-examples-catalog
        class="catalog"
        [list]="portfolioList$ | async"
    ></app-examples-catalog>
</div>
