:host {
    display: block;
    padding-top: 50px;
    padding-left: 70px;

    > * {
        color: #000;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-page {
    font-family: "BerlingskeSerif";
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 40px;
}

.tab-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: "MuseoSansCyrl-700";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.tab {
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.tab:hover,
.tab.active {
    border-bottom: 2px solid #f4ab2c;
    color: #f4ab2c;
    transition: 0.2s ease-in-out;
}

.catalog {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.grid-panel {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: repeat(2, 180px);
    grid-gap: 40px;
}

.grid-element > img {
    object-fit: cover;
    border-radius: 6px;
}
