<div class="container">
    <div class="title-page">Портфолио работ</div>
    <div class="tab-group">
        <div class="tab">прямые диваны</div>
        <div class="tab">угловые диваны</div>
        <div class="tab">кресла</div>
        <div class="tab">кровати</div>
        <div class="tab">стулья</div>
        <div class="tab">пуфы и банкетки</div>
    </div>

    <div class="catalog">
        <obbey-carousel>
            <ng-template carouselItem>
                <div class="grid-panel">
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselItem>
                <div class="grid-panel">
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                </div>
            </ng-template>
            <ng-template carouselItem>
                <div class="grid-panel">
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG1.png"
                            alt=""
                        />
                    </div>
                    <div class="grid-element">
                        <img
                            width="100%"
                            height="100%"
                            src="../../../../../assets/images/IMG2.png"
                            alt=""
                        />
                    </div>
                </div>
            </ng-template>
        </obbey-carousel>
    </div>
</div>
