<div class="block">
    <div class="block__title">
        Рассчитайте приблизительную стоимость ремонта вашей мягкой мебели
    </div>

    <div class="block__subtitle">
        Ответьте на 5 вопросов и получите расчет стоимости на почту
    </div>

    <div class="block__content">
        <div class="calculate">
            <div class="calculate__border">
                <div class="calculate__title mui-space_bottom-5">
                    1 вопрос из 5
                </div>

                <div class="progress-empty mui-space_bottom-10">
                    <div class="progress"></div>
                </div>

                <div class="step calculate__content">
                    <div class="step__description mui-space_bottom-10">
                        Какую мебель хотите отреставрировать?
                    </div>

                    <form class="step__content" action="">
                        <div class="chip">
                            <input class="radio" type="radio" />
                            <div>Диван</div>
                        </div>

                        <div class="chip">
                            <input class="radio" type="radio" />
                            <div>Кровать</div>
                        </div>

                        <div class="chip">
                            <input class="radio" type="radio" />
                            <div>Кресло</div>
                        </div>

                        <div class="chip">
                            <input class="radio" type="radio" />
                            <div>Стул/табурет</div>
                        </div>
                    </form>
                </div>
                <div class="button-container">
                    <obbey-button
                        size="m"
                        color="primary"
                        uppercase
                        [hasIcon]="true"
                        iconName="iconArrowRight"
                    >
                        следующий вопрос
                    </obbey-button>
                </div>
            </div>
        </div>

        <div class="right-content mui-space_left-5">
            <div class="line-primary-color"></div>
            <div class="right-content__description">
                пройдите тест до конца и получите расчет стоимости на эл. почту
            </div>
            <div class="line-primary-color"></div>
        </div>
    </div>
</div>
