<div class="block">
    <div class="block__title">
        Рассчитайте приблизительную стоимость ремонта вашей мягкой мебели
    </div>

    <div class="block__subtitle">
        Ответьте на 5 вопросов и получите расчет стоимости на почту
    </div>

    <div class="block__content">
        <obbey-calculate>

        </obbey-calculate>

        <div class="right-content mui-space_left-5">
            <div class="line-primary-color"></div>
            <div class="right-content__description">
                пройдите тест до конца и получите расчет стоимости на эл. почту
            </div>
            <div class="line-primary-color"></div>
        </div>
    </div>
</div>
